
/*html -iconer
{
    font-size: 100%;
       /*<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>

}*/

body{
    background-image: url(/pictures/geometricPattern.png);
    background-repeat: repeat;
    min-height: 100vh;
    top: 0;
}

root{
    height: 100%;
}

.landingpage {
    height: 100vh;
    min-height: 500px;
    background-image: url(/pictures/backgroundPink.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.HarmoniLogo {
    font-family: 'Lemonada', cursive;
}

/*Styling for eventinfo*/
.eventinfo
 {
     color: black;
     text-decoration: none;
 }

.eventinfo a:hover
{
    color: black;
    text-decoration: none;
}

.eventinfo a:active
{
    color: black;
    text-decoration: none;
}

.eventinfo a:link
{
    color: black;
    text-decoration: none;
}

.eventinfo a:visited
{
    color: black;
    text-decoration: none;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}