.landingpage {
    height: 100vh;
    min-height: 500px;
    background-image: url(/pictures/backgroundPink.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

#root {
    height: 100%;
}

/*Styling for shake animation*/
.error {
    position: relative;
    animation: shake .1s linear;
    animation-iteration-count: 3;
}

@keyframes shake {
    0% { left: -5px; }
    100% { right: -5px; }
}

/*Styling for eventinfo*/
.eventinfo
 {
     color: black;
     text-decoration: none;

 }

.eventinfo a:hover
{
    color: black;
    text-decoration: none;

}

.eventinfo a:active
{
    color: black;
    text-decoration: none;

}

.eventinfo a:link
{
    color: black;
    text-decoration: none;

}

.eventinfo a:visited
{
    color: black;
    text-decoration: none;

}