/*html -iconer
{
    font-size: 100%;
       /*<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>

}*/

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(/pictures/geometricPattern.png);
    background-repeat: repeat;
    top: 0;
}

#root {
    min-height: 71vh;
}

.landingpage {
    height: 100vh;
    min-height: 500px;
    background-image: url(/pictures/backgroundPink.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.HarmoniLogo {
    font-family: 'Lemonada', cursive;
}

/*Styling for eventinfo*/
.eventinfo {
    color: black;
    text-decoration: none;

}

.eventinfo a:hover {
    color: black;
    text-decoration: none;

}

.eventinfo a:active {
    color: black;
    text-decoration: none;

}

.eventinfo a:link {
    color: black;
    text-decoration: none;

}

.eventinfo a:visited {
    color: black;
    text-decoration: none;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}

input + span {
    padding-right: 10px;
}

input:invalid + span:after {
    position: absolute;
    content: '✖';
    padding-left: 5px;
}

input:valid + span:after {
    position: absolute;
    content: '✓';
    padding-left: 5px;
}

.p-5,
.p-2 {
    margin-top: 1rem;
}

.imgPreviewFrame {
    height: 250px; /* Equals maximum image height */
    width: 100%;
    border: 1px dotted #1e1e1e;
    white-space: nowrap; /* This is required unless you put the helper span closely near the img */
    text-align: center;
    margin: 1em 0;
}

.imgPreviewContainer {
    display: inline-block;
    height: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.imgPreview img {
    vertical-align: middle;
    max-height: 25px;
    max-width: 100%;
    overflow: hidden;
}

.imageText {
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 5px;
    width: fit-content;
    padding: 2px;
    opacity: 0.9;
}

@media only screen and (min-width: 600px) {
    .container {
        width: 60em;
    }

    .c-sm {
        width: 50em;
    }

    .c-lg {
        width: 80em;
    }

    .logo-big{
        font-size: 7rem;
    }

    .h1 .HarmoniLogo {
        font-size: 0.9rem;
    }

}
